html, body, .ember-application > .ember-view {
  height: 100%;
}

.ember-application > .ember-view {
  max-width: 800px;
  margin: 0 auto;
}

div, img, section, main, header {
  box-sizing: border-box;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

h1 small, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin-bottom: 10px;
}

h1 small {
  font-size: 18px;
}

h2 {
  margin-top: 0;
}

header, main {
  margin: 0 40px;
}

header {
  color: #260D0D;
  height: 65px;
  text-align: center;
}

header h1 {
  text-transform: uppercase;
}

header h1, header h3 {
  display: inline-block;
}

h3 {
  margin-top: 0;
}

header h3 {
  float: right;
  margin-top: 1.9em;
}

main {
  text-align: center;
}

.left-area, .right-area {
  display: inline-block;
}

.left-area {
  width: 200px;
}

.left-area img {
  max-width: 200px;
}

.right-area {
  width: 490px;
  text-align: left;
  margin-left: 10px;
  vertical-align: top;
}

.inline-block {
  display: inline-block;
}

.left-spacing {
  margin-left: 20px;
}

pre {
  margin-top: 0;
  font-size: 90%;
}

/**
 * Long List
 */
.long-list {
  width: 300px;
  padding: 20px;
  border: 2px solid grey;
  height: 200px;
  overflow: scroll;
}

.long-list ul {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
  border: 1px dashed grey;
}

.long-list ul li {
  padding: 10px;
  border-top: 1px dotted grey;
}

.long-list ul li:first-of-type {
  border-top: 0;
}

.img-too-damn-high {
  max-height: 200px;
}

/**
 * Route with a view
 */
.route-one .left-area:before {
  content: "";
  display: block;
  background: url('/images/route-one-view.jpg') no-repeat;
  background-size: contain;
  height: 120px;
  transition: 0.6s;
  transform-style: preserve-3d;
}

.going-south .left-area:before {
  transform: scaleX(-1); filter: FlipH;
}

.going-north .left-area:before {
  transform: scaleX(1); filter: FlipH;
}

.cow {
  transition: 0.2s;
  max-height: 200px;
}

.tipped {
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
  -ms-filter: flipv; /*IE*/
  filter: flipv;
}

/**
 * n-list
 */
.n-list {
  display: inline-block;
  width: 200px;
}

.n-list-item {
  padding: 10px;
  color: white;
}

.odd {
  background-color: #FFC803;
}

.even {
  background-color: #319190;
}

.three {
  background-color: #D9321C;
}
