<h2>didInsertElement</h2>

<div class="left-area">
  <img src="images/cow-1.jpg" class="cow"/>
  <h5>Our target. Poor cow.</h5>
</div>
<div class="right-area">
  <h4>Challenge</h4>
  <p>Apply tipper jQuery plugin to the cow, so it'll tip over on click.</p>
  {{code-snippet name="vendor-jquery-tipper.js"}}
</div>
