<h2>didInsertElement</h2>

<div class="left-area">
  <img src="images/cow-1.jpg" class="cow"/>
  <h5>Our target.</h5>
</div>
<div class="right-area">
  <h4>Challenge: <em>Apply <strong>$.tipper</strong> plugin to the cow image.</em></h4>
  {{code-snippet name="vendor-jquery-tipper.js"}}
</div>
