<h2>didInsertElement <small>in Route View</small></h2>

<div class="left-area">
  <img src="images/cow-1.jpg" class="cow"/>
</div>
<div class="right-area">
  {{code-snippet name="vendor-jquery-tipper.js"}}
  {{code-snippet name="did-insert-element-view.js"}}
</div>
