<h2>didInsertElement <small>with component</small></h2>

{{#go-tipping selector='.cow'}}
  <div class="left-area">
    <img src="images/cow-1.jpg" class="cow"/>
  </div>
  <div class="right-area">

  </div>
{{/go-tipping}}
