<h2>Bind Attributes</h2>

<div class="left-area">
  <img src="/images/route-one-view.jpg">
  <h5>Route with a view</h5>
</div>
<div class="right-area">
  <h4>Challenge</h4>
  <p>Wrap route's template in &lt;section&gt; element with class based on value of controller's <strong>direction</strong> property.</p>
</div>
