<h2>Bind Attributes: <small>Route with Component</small></h2>

{{#route-one-component direction=direction}}
  <div class="left-area">
    <button {{action 'toggleDirection'}}>U Turn</button>
  </div>
  <div class="right-area">
    {{code-snippet name="bind-attr-route-one.hbs"}}
    {{code-snippet name="bind-attr-component.js"}}
    {{code-snippet name="bind-attr-component.hbs"}}
  </div>
{{/route-one-component}}
