<h2>Container View</h2>

<div class="left-area">
  <h4>Legend</h4>
  <div class="n-list">
    <div class="odd n-list-item">ODD</div>
    <div class="even n-list-item">EVEN</div>
    <div class="three n-list-item">DIVISIBLE BY THREE</div>
  </div>
</div>
<div class="right-area">
  <h4>Challenge: <em>render a view corresponding to type of number.</em></h4>
  {{code-snippet name="number-list-route.js"}}
</div>
