<h2>Container View <small>with View</small></h2>

<div class="left-area">
  <div class="n-list">
    {{view 'container-view/n-list' content=model}}
  </div>
</div>
<div class="right-area">
  {{code-snippet name="container-view-with-view.hbs"}}
  {{code-snippet name="container-view-n-list.js"}}
  {{code-snippet name="container-view-with-view.md"}}
</div>
