<h2>Bind Attributes: <small>Route with component in pod</small></h2>

{{#route-one-component direction=direction}}
  <div class="left-area">
    <button {{action 'toggleDirection'}}>U Turn</button>
  </div>
  <div class="right-area">
    {{code-snippet name="bind-attr-pod.md"}}
    {{code-snippet name="bind-attr-pod-template.hbs"}}
    {{code-snippet name="bind-attr-pod-controller.js"}}
  </div>
{{/route-one-component}}
