<h2>Bind Attributes: <small>Route with component in pod</small></h2>

{{#route-one-component direction=direction}}
  <div class="left-area">
    <button {{action 'toggleDirection'}}>U Turn</button>
  </div>
  <div class="right-area">

  </div>
{{/route-one-component}}
