<h2>Respond to State Change <small>in View</small></h2>

<div class="left-area">
  <div class="long-list">
    <ul>
      {{#each}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    {{#next-page tagName="button" change-page="changePage" page=page}}Next Page{{/next-page}}
  </div>
</div>
<div class="right-area">
  {{code-snippet name='state-change-in-view.js'}}
</div>
