{{#long-list classNames="long-list inline-block"}}
  {{on-action 'changePage' trigger="resetScrollTop" bubble=true}}
  <ul>
    {{#each}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
  {{#next-page tagName="button" change-page="changePage" page=page}}Next Page{{/next-page}}
{{/long-list}}
