<h2>Respond to State Change <small>with Helper</small></h2>

<div class="left-area">
  <div class="long-list">
    <ul>
      {{#each}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    {{#next-page tagName="button" change-page="changePage" page=page}}Next Page{{/next-page}}
  </div>
</div>
<div class="right-area">
  {{reset-scroll-top '.long-list' page=page}}
  {{code-snippet name="state-change-with-helper.js"}}
  {{code-snippet name="long-list-with-helper.hbs"}}
</div>
