<div {{bind-attr class=currentRouteClass}}>
  <header>
    <h1 id='title'>Ember without Views</h1>
  </header>
  <main>
    {{outlet}}
  </main>
</div>
<button class="next-slide" {{action 'nextSlide'}}>Next</button>
<button class="previous-slide" {{action 'previousSlide'}}>Prev</button>
