<h3>Bindings Attributes</h3>
<ul>
  <li>{{#link-to 'route-one'}}Route with a view{{/link-to}}</li>
  <li>{{#link-to 'route-one-component'}}Route with a component{{/link-to}}</li>
  <li>{{#link-to 'route-one-pod'}}Route with a pod{{/link-to}}</li>
</ul>

<h3>didInsertElement</h3>
<ul>
  <li>{{#link-to 'tipping.with-view'}}In Route View{{/link-to}}</li>
  <li>{{#link-to 'tipping.with-helper'}}With Helper{{/link-to}}</li>
  <li>{{#link-to 'tipping.with-component'}}With Component{{/link-to}}</li>
</ul>

<h3>Triggering Events</h3>
<ul>
  <li>{{#link-to 'triggering-events.in-view'}}In View{{/link-to}}</li>
</ul>
