<h3>Bind Attributes</h3>
<ul class="list">
  <li>{{#link-to 'bind-attr'}}Challenge{{/link-to}}</li>
  <li>{{#link-to 'bind-attr.with-route-view'}}With Route View{{/link-to}}</li>
  <li>{{#link-to 'bind-attr.with-component'}}With Component{{/link-to}}</li>
  <li>{{#link-to 'bind-attr/with-component-in-pod'}}With Component in Pod{{/link-to}}</li>
</ul>

<h3>didInsertElement</h3>
<ul class="list">
  <li>{{#link-to 'did-insert-element'}}Challenge{{/link-to}}</li>
  <li>{{#link-to 'did-insert-element.with-route-view'}}With Route View{{/link-to}}</li>
  <li>{{#link-to 'did-insert-element.with-helper'}}With Helper{{/link-to}}</li>
  <li>{{#link-to 'did-insert-element.with-component'}}With Component{{/link-to}}</li>
</ul>

<h3>Respond to State change</h3>
<ul class="list">
  <li>{{#link-to 'state-change'}}Challenge{{/link-to}}</li>
  <li>{{#link-to 'state-change.in-view'}}In View{{/link-to}}</li>
  <li>{{#link-to 'state-change.with-helper'}}With Helper{{/link-to}}</li>
  <li>{{#link-to 'state-change/on-action-helper'}}\{{on-action}} helper{{/link-to}}</li>
</ul>

<h3>Container View</h3>
<ul class="list">
  <li>{{#link-to 'container-view'}}Challenge{{/link-to}}</li>
  <li>{{#link-to 'container-view.with-view'}}With View{{/link-to}}</li>
  <li>{{#link-to 'container-view.with-helper'}}\{{render-component}} helper{{/link-to}}</li>
</ul>
