<div class="slide">
  <h2>Motivation</h2>
  <div class="right-area" style="width: 225px;">
    <ul>
      <li>Last place you look</li>
      <li>Awkward to refactor</li>
      <li>Poor modularity</li>
    </ul>
  </div>
</div>
