<h2>Respond to State Change</h2>

<div class="long-list inline-block">
  <ul>
    {{#each}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
  {{#next-page tagName="button" change-page="changePage" page=page}}Next Page{{/next-page}}
</div>

{{outlet}}
